@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: white;
  --black: black;
  --transparent: transparent;
  --blue-300: #93c5fd;
  --blue-400: #60a5fa;
  --blue-500: #3b82f6;
  --indigo-300: #a5b4fc;
  --violet-200: #ddd6fe;
}

@keyframes aurora {
  0% {
    background-position: 0% 0%, 0% 0%;
  }
  50% {
    background-position: 100% 100%, 20% 20%;
  }
  100% {
    background-position: 0% 0%, 0% 0%;
  }
}

.animate-aurora {
  animation: aurora 10s linear infinite;
}
